.emptyCart {
    text-align: center;
    margin: 100px;
}

.cartItemContainer {
    margin: 50px 25% 0 25%;
    padding: 25px 50px;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
}

    .cartItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

        .item {
            width: 60%;
        }

        .itemPrice {
            width: 20%;
        }

        .deleteButton {
            width: 20%;
            padding: 5px;
            font-weight: bolder;
            background-color: var(--background-color);
            border: 1px solid var(--secondary-color);
            border-radius: 5px;
        }

            .deleteButton:hover {
                background-color: var(--secondary-color);
                transition: background-color ease 0.5s;
                cursor: pointer;
            }

.cartTotal {
    text-align: center;
}

.buttonsContainer {
    width: 50%;
    margin: 0 25%;
    padding: 25px 0;
    text-align: center;
}

    .button {
        font-weight: bold;
        text-decoration: none;
        color: var(--font-color);

        transition: background-color ease 0.5s;

        border: 1px solid var(--secondary-color);
        border-radius: 5px;

        margin: 15px;
        padding: 7px 20px;
    }

        .button:hover {
            background-color: var(--secondary-color);
            cursor: pointer;
        }

    .checkoutButton {
        background-color: var(--secondary-color);

    }

        .checkoutButton:hover {
            background-color: var(--secondary-color-light);
        }

    .disabled {
        opacity: 25%;
        pointer-events: none;
    }