.phoneCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--card-background-color);
    transition: background-color 0.5s ease;
    box-shadow: 5px 5px 15px black;
}

.phoneCard:hover {
    border: 2px solid var(--primary-color);
    transition: border ease 0.5s;
}

    .phoneImg {
        width: 100%;
        margin-top: 25px;
    }

    .button {
        font-weight: bold;
        text-decoration: none;
        color: var(--font-color);
        background-color: var(--card-background-color);

        border: 1px solid var(--secondary-color);
        border-radius: 5px;

        margin: 15px;
        padding: 5px;
    }

    .button:hover {
        background-color: var(--secondary-color);
        transition: background-color ease 0.5s;
        cursor: pointer;
    }