:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  --primary-color: #1ABEE9;
  --secondary-color: #E35C91;
  --secondary-color-light: #eb79a1;
  --background-color: #242424;
  --card-background-color: #121212;
  --font-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
}

.swalTitle {
  color: var(--font-color);
}

.swalConfirmButton {
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.swalText {
  color: var(--font-color) !important;
}